/* 웹 폰트 불러오기 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* reset */
a {
    color: inherit;
    text-decoration: none;
}

/* common */
br.mo {
    /* 모바일 X = 줄바꿈 X */
    display: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* body 인식 X 브라우저가 있어서 대체 */
.wrapper {
    font: 14px "Noto Sans KR", sans-serif;
}

.en {
    font-family: "Exo 2", sans-serif;
}

/* header 스타일 */
header {
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    height: 100px;
    line-height: 100px;
    position: fixed;
}

header .inner-header {
    width: 84%;
    /* 박스 중앙정렬 margin */
    margin: 0 auto;
}

header .inner-header h1.logo {
    float: left;
    width: 200px;
}

header .inner-header h1.logo img {
    width: 100%;
    /* 사진 줄이는 법 */
    /* 박스 줄이기. 가로만 내가 원하는 사이즈로 줄이고 세로는 auto */
    /* 박스 안 이미지를 가로 100% */

}

header .inner-header nav.gnb {
    float: left;
    margin-left: 80px;
}

header .inner-header nav.gnb li {
    float: left;
    margin-right: 80px;
}

header .inner-header nav.gnb li a {
    color: #fff;
    font-size: 16px;
    display: block;
}

header .inner-header nav.gnb li a:hover {
    color: #ff8342;
}

header .inner-header nav.tnb {
    float: right;
}

header .inner-header nav.tnb li {
    float: left;
    margin-right: 25px;
}

header .inner-header nav.tnb li a {
    color: #fff;
    font-size: 16px;
    text-align: center;
}

header .inner-header nav.tnb li:last-child a {
    display: block;
    width: 105px;
    border: 1px solid #fff;
    border-radius: 30px;
    line-height: 2;
    margin-top: 33px;
}

header .inner-header nav.tnb li:last-child a:hover {
    color: #ff8342;
    background: #fff;
}

header .inner-header nav.tnb li:first-child a i,
header .inner-header nav.tnb li:nth-child(2) a i {
    margin-right: 8px;
    font-size: 20px;
}

header .inner-header nav.tnb li:last-child a i {
    margin-left: 5px;
}

/* END header */

/* section main style */
section.main {
    /* 반복 X , 위치 중앙, 전체, 내 시야를 따라다닌다. */
    background: url('/img/vis_4.jpg') no-repeat center/cover fixed;
    /* 세로 화면을 가득 채움 = vh */
    height: 100vh;
}

section.main .main-title {
    /* 박스 화면 정중앙 배치 */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    color: #fff;

    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    animation: uprising 1s;
}

@keyframes uprising {
    0% {
        top: 60%;
        opacity: 0;
    }

    100% {
        top: 50%;
        opacity: 1;

    }
}

section .main-title h2 {
    font-size: 55px;
    margin-bottom: 20px;
}

section.main .main-title p {
    font-size: 25px;
    margin-bottom: 25px;
}

section.main .main-title .view {
    /* a태그는 block으로 바꿔주는게 좋다. */
    display: block;
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 40px;
    width: 180px;
    padding: 8px 0;
    /* block으로 바꿔 박스가 되어버려서 중앙정렬 필요 margin 0 auto; */
    margin: 0 auto;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
}

section.main .main-title .view::after {
    content: '';
    width: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s;
}

section.main .main-title .view:hover::after {
    width: 100%;
}

/* section about style */

section.about {
    background: #fff;
    padding: 80px 0;

}

section.about .title {
    color: #000;
    text-align: center;

}

section.about .title h2 {
    font-size: 45px;
    margin-bottom: 5px;
}


section.about .title p {
    font-size: 18px;
    color: #555;
}


section.about ul {
    width: 74%;
    /* 30px = 위아래 auto = 좌우 */
    margin: 30px auto;
    border-bottom: 1px solid #ddd;
}

section.about li {
    float: left;
    /* 사진이 수평정렬 안됐을 때 ( 3개인데 아래로 한개가 떨어졌을 때 ) */
    /* 3/100 해서 1장당 33.3%씩 가져간다.  */
    /* ul에 clearfix */
    width: 33.333333%;
}

section.about ul li a .img-box{
    /* 박스 외에 나오는 것은 다 숨겨라. */
    overflow: hidden;
}

section.about ul li a .img-box img{
    /* 박스 안에 사진 크기를 맞춘다. */
    width: 100%;
    transition: 0.7s;
}

section.about ul li a:hover .img-box img{
    transform: scale(1.2);
}

section.about ul li a .text {
    /* 텍스트 박스 */
    padding: 25px;
}

section.about ul li a .text h3 {
    /* 회사소개 */
    font-size: 20px;
    margin-bottom: 10px;
}

section.about ul li a .text p {
    /* 그 아랫줄 글 */
    font-size: 16px;
    margin-bottom: 10px;
}

section.about ul li a .text p.more {
    /* MORE */
    font-weight: 700;
    /* 일괄 대문자 변경 lowercase: 일괄 소문자 */
    text-transform: uppercase;
    padding-left: 40px;
    position: relative;

}

section.about ul li a .text p.more::before {
    content: '\f30b';
    font-family: 'Font Awesome 5 Free';
    width: 30px;
    height: 30px;
    background: #ff8342;
    border-radius: 50%;
    font-size: 15px;
    line-height: 30px;
    display: block;
    /* float: left;
    margin-right: 15px; */

    /* 포지션 or ploat을 걸면 자동으로 display:block */
    position: absolute;

    /* left, top 0을 주면 기준점이 없어 헤더 맨 위에 생김 */
    /* 방지 하려면 MORE에 포지션 relative를 걸어주면 기준점이 MORE에 생김 */
    left: 0;
    top: 0;
}