/* 웹 폰트 불러오기 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* reset */
a {
    color: inherit;
    text-decoration: none;
}

/* common */
.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
/* body 인식 X 브라우저가 있어서 대체 */
.wrapper{
    font: 14px "Noto Sans KR", sans-serif;
}

.en{
    font-family: "Exo 2", sans-serif;
}