/* 웹 폰트 불러오기 */
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@200;300;400;500;600;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* reset */
a {
    color: inherit;
    text-decoration: none;
}

/* common */
br.mo {
    /* 모바일 X = 줄바꿈 X */
    display: none;
}

/* 모바일 X = 햄버거 X */

header .inner-header .gnb-mobile {
    display: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* body 인식 X 브라우저가 있어서 대체 */
.wrapper {
    font: 14px "Noto Sans KR", sans-serif;
}

.en {
    font-family: "Exo 2", sans-serif;
}

/* header 스타일 */
header {
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    height: 100px;
    line-height: 100px;
    position: fixed;
    z-index: 200;
}

header .inner-header {
    width: 84%;
    /* 박스 중앙정렬 margin */
    margin: 0 auto;
}

header .inner-header h1.logo {
    float: left;
    width: 200px;
}

header .inner-header h1.logo img {
    width: 100%;
    /* 사진 줄이는 법 */
    /* 박스 줄이기. 가로만 내가 원하는 사이즈로 줄이고 세로는 auto */
    /* 박스 안 이미지를 가로 100% */

}

header .inner-header nav.gnb {
    float: left;
    margin-left: 80px;
}

header .inner-header nav.gnb li {
    float: left;
    margin-right: 80px;
}

header .inner-header nav.gnb li a {
    color: #fff;
    font-size: 16px;
    display: block;
}

header .inner-header nav.gnb li a:hover {
    color: #ff8342;
}

header .inner-header nav.tnb {
    float: right;
}

header .inner-header nav.tnb li {
    float: left;
    margin-right: 25px;
}

header .inner-header nav.tnb li a {
    color: #fff;
    font-size: 16px;
    text-align: center;
}

header .inner-header nav.tnb li:last-child a {
    display: block;
    width: 105px;
    border: 1px solid #fff;
    border-radius: 30px;
    line-height: 2;
    margin-top: 33px;
}

header .inner-header nav.tnb li:last-child a:hover {
    color: #ff8342;
    background: #fff;
}

header .inner-header nav.tnb li:first-child a i,
header .inner-header nav.tnb li:nth-child(2) a i {
    margin-right: 8px;
    font-size: 20px;
}

header .inner-header nav.tnb li:last-child a i {
    margin-left: 5px;
}

/* END header */

/* section main style */
section.main {
    /* 반복 X , 위치 중앙, 전체, 내 시야를 따라다닌다. */
    background: url('/img/vis_4.jpg') no-repeat center/cover fixed;
    /* 세로 화면을 가득 채움 = vh */
    height: 100vh;
}

section.main .main-title {
    /* 박스 화면 정중앙 배치 */
    /* 공식 */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    color: #fff;

    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    animation: uprising 1s;
}

@keyframes uprising {
    0% {
        top: 60%;
        opacity: 0;
    }

    100% {
        top: 50%;
        opacity: 1;

    }
}

section .main-title h2 {
    font-size: 55px;
    margin-bottom: 20px;
}

section.main .main-title p {
    font-size: 25px;
    margin-bottom: 25px;
}

section.main .main-title .view {
    /* a태그는 block으로 바꿔주는게 좋다. */
    display: block;
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 40px;
    width: 180px;
    padding: 8px 0;
    /* block으로 바꿔 박스가 되어버려서 중앙정렬 필요 margin 0 auto; */
    margin: 0 auto;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
}

section.main .main-title .view::after {
    content: '';
    width: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.4);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.3s;
}

section.main .main-title .view:hover::after {
    width: 100%;
}

/* section about style */

section.about {
    background: #fff;
    padding: 80px 0;

}

section .title {
    color: #000;
    text-align: center;

}

section .title h2 {
    font-size: 45px;
    margin-bottom: 5px;
}


section .title p {
    font-size: 18px;
    color: #555;
}


section.about ul {
    width: 74%;
    /* 30px = 위아래 auto = 좌우 */
    margin: 30px auto;
    border-bottom: 1px solid #ddd;
}

section.about li {
    float: left;
    /* 사진이 수평정렬 안됐을 때 ( 3개인데 아래로 한개가 떨어졌을 때 ) */
    /* 3/100 해서 1장당 33.3%씩 가져간다.  */
    /* ul에 clearfix */
    width: 33.333333%;
}

section.about ul li a .img-box {
    /* 박스 외에 나오는 것은 다 숨겨라. */
    overflow: hidden;
}

section.about ul li a .img-box img {
    /* 박스 안에 사진 크기를 맞춘다. */
    width: 100%;
    transition: 0.7s;
}

section.about ul li a:hover .img-box img {
    transform: scale(1.2);
}

section.about ul li a .text {
    /* 텍스트 박스 */
    padding: 25px;
}

section.about ul li a .text h3 {
    /* 회사소개 */
    font-size: 20px;
    margin-bottom: 10px;
}

section.about ul li a .text p {
    /* 그 아랫줄 글 */
    font-size: 16px;
    margin-bottom: 10px;
}

section.about ul li a .text p.more {
    /* MORE */
    font-weight: 700;
    /* 일괄 대문자 변경 lowercase: 일괄 소문자 */
    text-transform: uppercase;
    padding-left: 40px;
    position: relative;

}

section.about ul li a .text p.more::before {
    content: '\f30b';
    font-family: 'Font Awesome 5 Free';
    width: 30px;
    height: 30px;
    background: #ff8342;
    border-radius: 50%;
    font-size: 15px;
    line-height: 30px;
    display: block;
    /* float: left;
    margin-right: 15px; */

    /* 포지션 or ploat을 걸면 자동으로 display:block */
    position: absolute;

    /* left, top 0을 주면 기준점이 없어 헤더 맨 위에 생김 */
    /* 방지 하려면 MORE에 포지션 relative를 걸어주면 기준점이 MORE에 생김 */
    left: 0;
    top: -2px;
}

/* section innovation Style */

section.innovation {
    background: #fff;
    margin-bottom: 150px;
}

section.innovation .title {
    color: black;
    text-align: center;
}

section.innovation .img-box {
    width: 74%;
    height: 540px;
    background: url('/img/product_1.jpg') no-repeat center / cover;
    margin: 50px auto 0;
    /* 박스 중앙배치 정렬을 위한 기준점 설정 공식 */
    position: relative;
}

section.innovation .img-box .inner {
    background: #3a3c4e;
    width: 80%;
    /* 박스 중앙배치 정렬 공식 */
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
    position: absolute;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
}

section.innovation .img-box .inner h3 {
    background: #fff;
    font-size: 14px;
    padding: 25px 45px;
    /* 패딩으로 인한 박스 크기 안커지게 방지 */
    box-sizing: border-box;
}

section.innovation .img-box .inner .bottom {
    color: #fff;
    /* 줄 높이 조정 */
    line-height: 1.6;
    padding: 60px 85px;
    box-sizing: border-box;
}

/* float 사용시 정렬이 깨질 시 부모 요소에게 clearfix */

section.innovation .img-box .inner .bottom p {
    float: left;
    width: 70%;
}

section.innovation .img-box .inner .bottom a {
    float: right;
    background: #ff8342;
    border-radius: 50px;
    padding: 7px 30px;
}


section.innovation .img-box .inner .bottom a:hover {
    background: #f86010;
}

section.me {
    background: url('/img/me.jpg') no-repeat center/cover;
    height: 800px;
    position: relative;
    padding: 80px 0;
}


section.me ul.list {
    width: 74%;
    margin: 50px auto;
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    line-height: 1.3;
}

section.me ul li p {
    line-height: 1.5;

}

section.me ul li:last-child {
    padding-bottom: 40px;
}

section.me ul.list h3 {
    font-weight: 500;
    line-height: 3.0;
    font-size: 18px;
    padding-top: 40px;
    padding-bottom: 20px;
}

section.me ul.list p {
    margin-bottom: 30px;
}

section.me ul.list em {
    float: left;
    font-weight: bold;
    margin-right: 40px;
    font-size: 15px;
}

section.me ul.list h3 i {
    color: orange;
    margin-right: 15px;
}

section.me ul.list a i {
    color: orange;
}

section.me ul.list a {
    font-weight: bold;
    font-size: 15px;
}

section.me ul.list a.more {
    font-size: 15px;
}


/* section sns Style */

section.sns {
    padding: 60px 0;
    height: 500px;
    background: #fff;
}

section.sns li {
    float: left;
    width: 33.33333%;
}

section.sns ul {
    width: 74%;
    margin: 30px auto;
    padding-bottom: 30px;
}


section.sns ul li a .img-box {
    height: 251px;
    overflow: hidden;
    transition: 0.7s;
    position: relative;
}

section.sns ul li a .img-box img {
    width: 100%;
}



section.sns ul li a .img-box::after {
    content: '';
    width: 0;
    height: 100%;
    background: rgb(248, 164, 9, 0.6);
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    transition: 0.5s;

}

section.sns ul li a:hover .img-box::after {
    width: 100%;
}


section.sns ul li .bottom p.color {
    color: orange;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: bold;
}

section.sns ul li .bottom p:nth-child(2) {
    font-size: 18px;
    font-weight: bolder;
    margin-bottom: 10px;
}

section.sns ul li .bottom p.time {
    color: gray;
    margin-top: 15px;
}


#incruit-btn {
    display: block;
    width: 280px;
    background: #ff8342;
    margin: 0 auto;
    padding: 10px 0;
    border-radius: 50px;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

/* footer style */

footer {
    padding: 30px auto;
    height: 100px;
    border-top: 1px solid black;
}

footer .inner {
    width: 74%;
    margin: 0 auto;
    position: relative;
}

footer .inner .ft-logo {
    float: left;
    width: 200px;
    height: 100px;
    margin-right: 30px;
    position: absolute;
    top: 10px;
}

footer .inner .ft-logo img {
    width: 100%;
}


footer ul.address {
    float: left;
    margin-left: 200px;
    position: absolute;
    top: 30px;
}

footer ul.address li:first-child {
    font-weight: 700;
}

footer ul.address li.en {
    color: gray;
    text-align: left;
    margin-top: 10px;
}

footer ul.list {
    float: right;
    top: 10px;
}

footer ul.list li {
    float: left;
    margin-right: 30px;
    font-weight: 600;
    top: 40px;
    position: relative;
}


footer ul.list li:last-child {
    color: #f86010;
}

footer .inner .list li a:hover {
    color: #f86010;
    text-decoration: underline;

}


/* 반응형작업 */
/* 노트북 해상도 (1599px) */

@media screen and (max-width: 1599px) {
    header .inner-header {
        width: 95%;
    }

    header .inner-header nav.gnb {
        margin-left: 50px;
    }

    header .inner-header nav.gnb li {
        margin-right: 50px;
    }

    header .inner-header nav.tnb li {
        margin-right: 10px;
    }

    section.about ul,
    section.innovation .img-box,
    section.me ul.list,
    section.sns ul {
        width: 95%;
    }

    footer .inner {
        width: 95%;
    }

    footer .inner .list li {
        margin-left: 20px;
    }
}

/* 태블릿 1024px 해상도 (아이패드 프로) */

@media screen and (max-width: 1024px) {

    header .inner-header nav.gnb,
    header .inner-header nav.tnb {
        display: none;
    }

    header .inner-header .gnb-mobile {
        float: right;
        font-size: 40px;
        color: #fff;
        display: block;
    }

    section.main .main-title {
        width: 85%;
    }

    section.me ul.in li {
        margin-bottom: 0;
    }

    section.me ul.in li p {
        margin-bottom: 10px;
    }

    section.sns ul li a .img-box {
        height: 175px;
    }

    section.sns ul li a .bottom {
        padding-left: 5px;
    }

    footer .inner .list {
        display: none;
    }
    footer .inner .ft-logo {
        margin-top: 0px;
    }

    footer ul.address{
        top: 30px;
        margin-right: 50px;
    }  

}